/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#toolbar {
  display: table;
  width: 100%;
  background-color: green;
  height: 70px;
}

#toolbar h2 {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  padding-left: 20px;
  color: white;
  font-weight: normal;
}

ul#parent-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.child-list {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  list-style-type: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

a.link-item {
  text-decoration: none;
}

ul.child-list:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a.link-item:hover {
  text-transform: none;
}

.search_section {
  border: 0;
  vertical-align: middle;
  display: table-cell;
}

.search_input {
  border: 0;
  border-radius: 5px;
}
